.dashboard {
  position: relative;
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1480241352829-e1573ff2414e?dpr=1&auto=compress,format&fit=crop&w=1950&h=&q=80&cs=tinysrgb&crop=");
  background-size: cover;
  background-position: center;
  color: aliceblue;
  text-shadow: 0px 0px 6px black;

  .title {
    position: absolute;
    top: $spacing;
    left: $spacing * 3;
    img {
      height: $spacing * 4;
    }
  }

  #clock {
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 2rem;
    time {
      font-size: 1.5em;
    }
  }

  .dash-container {
    position: absolute;
    top: $spacing * 5;
    left: $spacing;
    right: $spacing;
    bottom: $spacing;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    .widget {
      flex: 1 0 auto;
      margin: $spacing;
      background-color: rgba(200,200,200,0.8);
      border-radius: $spacing;
      padding: $spacing;
    }
  }

  .dash-id {
    position: absolute;
    bottom: .3rem;
    right: .3rem;
  }

}